[alias]
    # checkout: https://blog.jez.io/cli-code-review/ for nice code review aliases
    # also has a dependency graph visualizer alias

    aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
    a   = add --all
    com = commit
    p   = push
    br  = branch
    co  = checkout
    f   = fetch
    fa  = fetch --all
    st  = status --short --branch
    lg  = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold red)%h%C(reset) - %C(reset)%aD%C(reset) - %C(dim green)(%an %ar)%C(reset)%C(bold yellow)%d%C(reset)%n⤷ %C(bold dim white)\"%s\"%C(reset)'
    ; lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'

    ; include all currently staged files in the previous commit
    withprev = commit --amend --no-edit


    ; When working on a project where others push branches to the main repository, I end up with lots of random local branches.
    ; Prune deletes any local branch which has been deleted from the remote. It’s here because I always forget about it.
    prune = fetch --prune

[color]
    diff   = auto
    status = auto
    branch = auto

[push]
    default = simple

# handle merge conflicts with vim-fugitive
# -- from: Link: https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool
[mergetool "nvim"]
    cmd = "$VISUAL" -f -c \"Gvdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging, (use $VISUAL in case we are already within vim -- untested)

[merge]
    tool = nvim

[mergetool]
    prompt = false
    keepBackup = false

[user]
    name = Brendonk13
    email = brendonk13.bk@gmail.com
[credential]
    helper = cache --timeout=3600

[core]
    # global gitignore
    excludesfile = /home/brendon/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    # syntax-theme = GitHub
    syntax-theme = Nord

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
    hunk-header-file-style = yellow box

